Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [2]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('D:\imyas\desktop\yash\Mini project\sem6\CODE\heart.csv')

In [3]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [6]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [10]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [11]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the Data into Training data & Test Data

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training

SVM

In [15]:
from sklearn import svm
svm = svm.SVC(kernel='linear')

In [16]:
svm.fit(X_train, Y_train)

SVC(kernel='linear')

In [17]:
# Make predictions
Y_train_pred1 = svm.predict(X_train)
Y_test_pred1 = svm.predict(X_test)

In [18]:
# Training set performance
svm_train_accuracy = accuracy_score(Y_train, Y_train_pred1) # Calculate Accuracy
# Test set performance
svm_test_accuracy = accuracy_score(Y_test, Y_test_pred1) # Calculate Accuracy

In [19]:
print('Model performance for Training set')
print('- Accuracy: %s' % svm_train_accuracy)
print('Model performance for Test set')
print('- Accuracy: %s' % svm_test_accuracy)

Model performance for Training set
- Accuracy: 0.8553719008264463
Model performance for Test set
- Accuracy: 0.819672131147541

KNN MODEL

In [20]:
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.metrics import matthews_corrcoef
# from sklearn.metrics import f1_score

In [21]:
# knn = KNeighborsClassifier(3) # Define classifier
# knn.fit(X_train, Y_train) # Train model

In [22]:
# # Make predictions
# Y_train_pred2 = knn.predict(X_train)
# Y_test_pred2 = knn.predict(X_test)

In [23]:
# # Training set performance
# knn_train_accuracy = accuracy_score(Y_train, Y_train_pred2) # Calculate Accuracy
# # Test set performance
# knn_test_accuracy = accuracy_score(Y_test, Y_test_pred2) # Calculate Accuracy

In [24]:
# print('- Accuracy: %s' % knn_train_accuracy)
# print('- Accuracy: %s' % knn_test_accuracy)

DECISION TREE

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
dt = DecisionTreeClassifier(max_depth=5) # Define classifier
dt.fit(X_train, Y_train) # Train model

DecisionTreeClassifier(max_depth=5)

In [27]:
# Make predictions
Y_train_pred3 = dt.predict(X_train)
Y_test_pred3 = dt.predict(X_test)

In [28]:
# Training set performance
dt_train_accuracy = accuracy_score(Y_train, Y_train_pred3) # Calculate Accuracy
# Test set performance
dt_test_accuracy = accuracy_score(Y_test, Y_test_pred3) # Calculate Accuracy

In [29]:
print('- Accuracy train set: %s' % dt_train_accuracy)
print('- Accuracy Test set: %s' % dt_test_accuracy)

- Accuracy train set: 0.9380165289256198
- Accuracy Test set: 0.7540983606557377

Random forest

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
rf = RandomForestClassifier(n_estimators=10) # Define classifier
rf.fit(X_train, Y_train) # Train model

RandomForestClassifier(n_estimators=10)

In [32]:
# Make predictions
Y_train_pred4 = rf.predict(X_train)
Y_test_pred4 = rf.predict(X_test)

In [33]:
# Training set performance
rf_train_accuracy = accuracy_score(Y_train, Y_train_pred4) # Calculate Accuracy
# Test set performance
rf_test_accuracy = accuracy_score(Y_test, Y_test_pred4) # Calculate Accuracy

In [34]:
print('- Accuracy: %s' % rf_train_accuracy)
print('- Accuracy: %s' % rf_test_accuracy)

- Accuracy: 0.9958677685950413
- Accuracy: 0.7704918032786885

logistic regression

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [36]:
lr = LogisticRegression(random_state=1)# get instance of model
lr.fit(X_train, Y_train) # Train/Fit model

c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [37]:
# Make predictions
Y_train_pred5 = lr.predict(X_train)
Y_test_pred5 = lr.predict(X_test)

In [38]:
# Training set performance
lr_train_accuracy = accuracy_score(Y_train, Y_train_pred5) # Calculate Accuracy
# Test set performance
lr_test_accuracy = accuracy_score(Y_test, Y_test_pred5) # Calculate Accuracy

In [39]:
print('- Accuracy: %s' % lr_train_accuracy)
print('- Accuracy: %s' % lr_test_accuracy)

- Accuracy: 0.8512396694214877
- Accuracy: 0.819672131147541

Build Stacked model

In [40]:
from sklearn.ensemble import StackingClassifier
# from sklearn.linear_model import LogisticRegression

# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
# from sklearn import svm

In [41]:
estimator_list = [
    ('rf',rf),
    ('dt',dt),
    ('lr',lr),
    #('knn',knn),
    ('svm',svm),
    
    ]

In [42]:
# Build stack model
stack_model = StackingClassifier(
    estimators=estimator_list, final_estimator=KNeighborsClassifier(n_neighbors=3)

)

In [43]:
# Train stacked model
stack_model.fit(X_train, Y_train)

c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

StackingClassifier(estimators=[('rf', RandomForestClassifier(n_estimators=10)),
                               ('dt', DecisionTreeClassifier(max_depth=5)),
                               ('lr', LogisticRegression(random_state=1)),
                               ('svm', SVC(kernel='linear'))],
                   final_estimator=KNeighborsClassifier(n_neighbors=3))

In [44]:
# Make predictions
Y_train_pred = stack_model.predict(X_train)
Y_test_pred = stack_model.predict(X_test)

c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:211: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:211: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [45]:
# Training set model performance
stack_model_train_accuracy = accuracy_score(Y_train, Y_train_pred) # Calculate Accuracy

In [46]:
#Test set model performance
stack_model_test_accuracy = accuracy_score(Y_test, Y_test_pred) # Calculate Accuracy

In [47]:
print('- Accuracy: %s' % stack_model_train_accuracy)
print('- Accuracy: %s' % stack_model_test_accuracy)

- Accuracy: 0.8842975206611571
- Accuracy: 0.8360655737704918

In [48]:
import pickle

In [49]:
filename = 'heart_disease_model.sav'
pickle.dump(stack_model, open(filename, 'wb'))

In [50]:
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

Model Evaluation

Building a Predictive System

In [51]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

c:\Users\imyas\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:211: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)